body{
    background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 35%, rgba(0,212,255,1) 100%);;
}

.container{
   background-color: rgb(127, 195, 172);
   height: 400px;
   width: 600px;
   margin: auto;
   position: absolute;
   top: 30%;
   left: 35%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 20px;
}
.joke{
   font-size: xx-large;
   padding: 5px 20px;
   font-weight: 500;
}
#fulljokes h1{
   margin-bottom: 80px;
   color: blue;
}
#fulljokes button{
   margin-bottom: 20px;
   margin-top: 20px;
   padding: 20px;
   width: 75%;
   font-size: x-large;
   background-color: yellow;
   font-weight: 700;
   color: red;
   border-radius: 20px;
}
#fulljokes button:hover{
   cursor: pointer;
   transform: scale(1.06);
   transition: 0.5s;
}